Source: moxa-push-button
Section: misc
Priority: required
Maintainer: Fero JD Zhou <FeroJD.Zhou@moxa.com>
Build-Depends: debhelper (>= 10), libjson-c-dev
Standards-Version: 4.1.2
Homepage: https://www.moxa.com/

Package: moxa-push-button
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Moxa pushbtn detect program
 Detect the signal from push button and perform the certain actions.
 Action can be turning the specified LED on/off, executing a program or
 the combination of both.
